@import url(https://fonts.googleapis.com/css?family=Open+Sans);

header {
  
  /* background-image: linear-gradient(to right top, #8e44ad 0%, #3498db 100%); */
  border-bottom: 1px solid black;
  
}

.hamburger-menu{
  padding-top: 10px;
}














/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
li{
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  
  scroll-behavior: smooth;
}


/* Set core body defaults */
body {
  color:#fff;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-image: linear-gradient(45deg,#c22ed0 30%,#5ffae0 115% );
  /* background-size: 700%; 
  animation: bg-animation 35s infinite alternate;  */
  
} 

/* @keyframes bg-animation {
  0%{background-position: left;}
  100%{background-position: right;}
  
} */

img,
picture {
  max-width: 100%;
  display: block;
  border-radius: 20px;
}

/* header img{
  padding:5px;
  height: ;
  
} */

.char-main-view{
  padding:20px;
  display:grid;
  gap:1.5em;;
}

.listandselected{
  display:grid;
  gap:1.5em;
  
}

.grid-center-title{
  display:grid;
  gap:1.5em;
  grid-template-columns:repeat(3,1fr);
  justify-items: center;
}

.preview-char{
  display:grid;
  gap: 1.5em;
  height:490px;
  grid-template-columns: repeat(2,1fr);
 
  /* grid-template-columns: repeat(3,1fr);
  padding:20px; */
     /* side scroll feature */
  /* overflow-y: scroll; */
      /* .search-results-items {
        flex: 0 0 auto;
      }  */
      
}
.title-col-span-2{
  grid-column:2;
}



.preview-char::-webkit-scrollbar,
.char-info::-webkit-scrollbar{
  width:.5em;
}

.preview-char::-webkit-scrollbar-track,
.char-info::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius:10pc;
  border-radius: 10px;
  display:none;
}

.preview-char::-webkit-scrollbar-thumb,
.char-info::-webkit-scrollbar-thumb{
  background-color:transparent;
  /* outline: 1px solid slategray; */
  border-radius:10px;
  
}

.preview-char:hover::-webkit-scrollbar-thumb,
.char-info:hover::-webkit-scrollbar-thumb{
  background-color:rgba(128, 128, 128, 0.55);
  transition: visibility 2s;
}
.selected-char{
  justify-items: stretch;
  display:grid;
  gap: 1em;
}
.char-name{
  background-color:rgba(116, 116, 116, 0.55);
}
.char-info{
  overflow-y:scroll;
  height:450px;

}

button img,
button{
  border-radius: 20%;
  height: inherit;
  /* height:oopx1; */
  border:none;
}
button {
   background-color:rgba(214, 214, 215, 0);
   font-size:20px;
}





/* Footer css */

.footer-distributed {
  background-color: #292c2f5b;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}


.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* random card box */

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
}
.home section {
  margin: auto;
  width: 80%;
  max-height: 800px;
  text-align: center;
}

.home .flip-card img {
  cursor: pointer;
  margin: auto;
  width: 60%;
  max-height: 600px;
  border-radius: 4px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}
.home div:first-of-type {
  margin-top: 2em;
}
.home strong {
  text-decoration: underline;
}
.flip-card {
  perspective: 10000px; /* Remove this if you don't want the 3D effect */
}
/* This container is needed to position the front and back side */
.inner {
    /* side scroll feature */
    /* display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
      .search-results-items {
        flex: 0 0 auto;
      } */
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .inner {
  transform: rotateY(180deg);
}
/* Position the front and back side */
.front,
.back {
  /* position: absolute; */
  width: 100%;
  height: 50%;
  backface-visibility: hidden;
}
/* Style the front side (fallback if image is missing) */
.front {
  color: black;
}
/* Style the back side */
.back {
  transform: rotateY(180deg);
}
.flip-char{
  padding:2em;
}

/* next and prev buttons */
.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
		-webkit-tap-highlight-color: transparent;
}

.next  {
	width: 60%;
	height: 50px;
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
	color: black;
	background: rgba(255, 255, 255, 0);
	border: 2px solid black;
	box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.200),
		-5px -5px 0 rgba(0, 0, 0, 0.200),
		-5px 5px 0 rgba(0, 0, 0, 0.200),
		5px -5px 0 rgba(0, 0, 0, 0.200);
	transition: 500ms ease-in-out;
}

.next:hover {
	box-shadow: -20px 5px 0 #c22ed0, 20px -5px 0 #c22ed0;
}

.prev  {
	width: 60%;
	height: 50px;
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
	color: black;
	background: rgba(255, 255, 255, 0);
	border: 2px solid black;
	box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.200),
  -5px -5px 0 rgba(0, 0, 0, 0.200),
  -5px 5px 0 rgba(0, 0, 0, 0.200),
  5px -5px 0 rgba(0, 0, 0, 0.200);
	transition: 500ms ease-in-out;
}

.prev:hover {
	box-shadow: 20px 5px 0 #5ffae0, -20px -5px 0 #5ffae0;
}

.grid-center-title button:focus {
	outline: none;
}

.grid-center-title p{
  width: 100%;
}
.search{
  max-width:40%;
}
.search-input{
  width: 100%;
}

.suggestion{
  cursor: pointer;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;

}

.suggestion:hover{
  background-color: #8080806b;
}



@media (min-width: 58em){
  
  .preview-char{
  grid-template-columns: repeat(3,1fr);
  padding:20px;
  grid-column-start: 1;
  grid-row-start: 1;
  overflow-y: scroll;
  }

  .selected-char{
   grid-template-columns: repeat(2,1fr);
  }

  .char-name{
    display: flex;
    justify-content: center;
    grid-column: span 2;
  
  }
  .flip-char{
    display: grid;
    gap:1.5em;
    grid-template-columns: repeat(3,1fr); 
    align-items: start;
  }
  .flip-char-grid-col-2{
    grid-column-start: 2;
    grid-row-start: 2;
  }
  .flip-char-grid-col-3{
    grid-column-start: 3;
  }


}

@media (min-width: 30em){
  
  nav {
    /* max-width: 960px; */
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
    margin: 0 auto;
    padding: 40px 0;
  }
  
  nav ul {
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  }
  
  nav ul li {
    display: inline-block;
    padding: 18px;
    font-family: "Open Sans";
    text-transform:uppercase;
    color: rgba(0, 35, 122, 0.5);
    font-size: 18px;
    text-decoration: none;
  }
  
  nav ul li a {
    padding: 18px;
    font-family: "Open Sans";
    text-transform:uppercase;
    color: rgba(0, 35, 122, 0.5);
    font-size: 18px;
    text-decoration: none;
    display: block;
  }
  
  nav ul li:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(0, 35, 122, 0.7);
  }

  .preview-char{
    overflow-y: scroll;
    }
  
 
  .listandselected{
   
    grid-template-columns: repeat(2,1fr);
    min-height: 289px;
  }
}
@media (max-width: 30em){
  .preview-char{
    display:flex;
    grid-column-start: 1;
    grid-row-start: 1;
    height: min-content;
    align-items: center;
    overflow-x: scroll;
    }

    #menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  padding:10px;
  z-index: 2;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  /* width: 300px; */
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #eceff1fe;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
  z-index: 1;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}

.hamburger-menu{
  padding: 20px;
}

}


